{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/me.jpg' %}" alt="Younes - the author of this blog">
            <h2>Younes's Blog</h2>
        </header>
        <p>Hi, I am Younes and I love to blog about tech and the word!</p>
    </section>
    <section id="latest-posts">
        <h2>My latest Thoughts</h2>
        <ul>
            {% for post in posts %}
                {% include 'blog/includes/post.html' %}
            {% endfor %}
        </ul>
    </section>
    <section id="about">
        <h2>What I do</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Delectus nisi distinctio corporis sit adipisci dignissimos aut beatae voluptates voluptas consequatur iste, 
            excepturi velit obcaecati laudantium modi sunt et id accusantium?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Delectus nisi distinctio corporis sit adipisci dignissimos aut beatae voluptates voluptas consequatur iste, 
            excepturi velit obcaecati laudantium modi sunt et id accusantium?
        </p>
    </section>
{% endblock %}